*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: inherit;
}

.nav {
  position: fixed;
  width: 100%;
  height: 43px;
  background-color: #fff;
  border-bottom: 1px solid rgb(212, 212, 212);
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #121212;
}

.fa {
  font-size: 15px;
  padding: 0 10px;
}

.nav-left {
  line-height: 40px;
  width: 28%;
  float: left;
}

.left-text {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 13.5px;
  font-weight: 900;
  padding: 0 15px;
}

.logo {
  margin-top: 10px;
  float: left;
  width: 44%;
}

.nav-right {
  line-height: 38px;
  float: right;
  width: 28%;
}

.btn {
  background-color: #567b95;
  border: 1px solid #326891;
  border-radius: 3px;
  color: #fff;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 11px;
  font-weight: 700;
  padding: 9px 9px 8px;
  margin: 0 2px;
}

article {
  padding-top: 50px;
}

.main-title {
  text-align: center;
  color: #121212;
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
  font-size: 30px;
  font-style: italic;
}

.central-img-container {
  width: 1200px;
  margin: 0 auto;
}

.central-img {
  max-width: 100%;
}

figcaption {
  max-width: 70%;
  float: left;
}

.pre-elements {
  padding: 40px 30px;
  width: 35%;
  clear: both;
  margin: 0 auto;
}

.autor {
  padding-bottom: 20px;
}

.soc-networks {
  float: right;
}

.date {
  float: left;
}

.socials {
  border-radius: 100%;
  background-color: rgb(192, 192, 192);
  width: 30px;
  height: 30px;
}

.article-text {
  width: 35%;
  margin: 0 auto;
}

.little-text {
  width: 20%;
  margin: 0 auto;
}

.graphic {
  width: 1000px;
  margin: 0 auto;
}

.theory-graphic {
  max-width: 100%;
}
